sudo: required
services:
  - docker

before_install:
  - docker build -t nikolamdev/react-test -f ./client/Dockerfile.dev ./client

script:
  - docker run -e CI=true nikolamdev/react-test npm run test

after_success:
  - docker build -t nikolamdev/multi-client ./client
  - docker build -t nikolamdev/multi-nginx ./nginx
  - docker build -t nikolamdev/multi-server ./server
  - docker build -t nikolamdev/multi-worker ./worker

  # Log in to the docker CLI
  - echo "\$DOCKER_PASSWORD" | docker login -u "\$DOCKER_ID" --password-stdin

  # Take those images and push them to docker hub
  - docker push nikolamdev/multi-client
  - docker push nikolamdev/multi-nginx
  - docker push nikolamdev/multi-server
  - docker push nikolamdev/multi-worker
